@use "../global" as global;
.l-diff {
  padding: 0 0 96px;
  background: global.$main-color;

  @include global.mq("sp") {
    padding: 0 0 57px;
  }

  &__inner {
    max-width: 1000px;
    width: 80%;
    margin: 0 auto;

    @include global.mq("tab") {
      width: 100%;
    }
    @include global.mq("sp") {
      width: 100%;
    }
  }
}
