@use "../global" as global;
.l-learning {
  padding: 0 0 39px;

  @include global.mq("pc") {
    padding: 0 0 96px;
  }
  background: #fff;

  &__inner {
    max-width: 1000px;
    width: 80%;
    margin: 0 auto;
  }
}
