@use "../global" as global;
.l-number {
  padding: 0 0 96px;

  @include global.mq("sp") {
    padding: 0 0 39px;
  }
  &__inner {
    max-width: 1000px;
    width: 80%;
    margin: 0 auto;

    @media screen and (min-width: 1023px) and (max-width: 1234px) {
      width: 88%;
    }

    @include global.mq("sp") {
      width: 100%;
      padding: 0 30px;
    }
    @media screen and (max-width: 380px) {
      padding: 0 15px;
    }
  }
}
