@use "../global" as global;

.p-number {
  background: global.$main-color;
  width: 100%;
  margin-top: 42px;
  border-radius: 20px;
  @include global.mq("pc") {
    padding: 60px 50px;
  }

  @media screen and (min-width: 1023px) and (max-width: 1234px) {
    padding: 60px 6px;
  }

  @include global.mq("tab") {
    margin-top: 26px;
    padding: 32px 24px 30px;
  }

  @include global.mq("sp") {
    margin-top: 26px;
    padding: 32px 24px 30px;
  }

  @media screen and (max-width: 390px) {
    padding: 10px;
  }

  h3 {
    color: global.$black-color;
    font-size: 40px;
    margin-bottom: 53px;
    text-align: center;
    font-weight: bold;

    @include global.mq("tab") {
      margin-bottom: 35px;
      font-size: 30px;
    }
    @include global.mq("sp") {
      margin-bottom: 15px;
      font-size: 20px;
    }
    @media screen and (max-width: 390px) {
      font-size: 18px;
    }
  }

  .p-number__items {
    @include global.mq("pc") {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }

    @include global.mq("tab") {
      flex-direction: column;
    }
  }
}

.p-number__item-vocational,
.p-number__item-university,
.p-number__item {
  text-align: center;

  @include global.mq("pc") {
    display: flex;
    flex-flow: column;
  }
}

.p-number__item-vocational,
.p-number__item-university {
  .p-number__item-wrap {
    &:nth-of-type(2) {
      @include global.mq("pc") {
        margin: 105px 0;
      }
    }
  }
  .p-number__item-ttl {
    color: global.$main-color;
    font-size: 30px;
    letter-spacing: 0.05em;
    margin-bottom: 82px;

    @include global.mq("tab") {
      margin-bottom: 26px;
      font-size: 18px;
    }
    @include global.mq("sp") {
      margin-bottom: 26px;
      font-size: 18px;
    }
  }

  .p-number__item-data-wrap {
    &:nth-child(3) {
      @include global.mq("pc") {
        margin: 95px 0 115px;
      }
      @include global.mq("tab") {
        margin: 95px 0 115px;
      }
    }
  }
  .p-number__item-data {
    font-size: 76px;
    font-weight: bold;
    line-height: calc(108 / 90);
    font-family: global.$ff-kozuka;
    text-align: center;

    @media screen and (min-width: 1235px) and (max-width: 1248px) {
      font-size: 73px;
    }
    @media screen and (max-width: 1035px) {
      font-size: 74px;
    }

    @include global.mq("tab") {
      font-size: 57px;
    }
    @include global.mq("sp") {
      font-size: 45px;
    }
    @media screen and (min-width: 481px) and (max-width: 490px) {
      font-size: 36px;
    }
    @media screen and (min-width: 391px) and (max-width: 417px) {
      font-size: 36px;
    }
    @media screen and (max-width: 390px) {
      font-size: 36px;
    }

    .font-small {
      font-size: 45px;
      line-height: calc(72 / 60);

      @include global.mq("tab") {
        font-size: 40px;
      }
      @include global.mq("sp") {
        font-size: 27px;
      }
      @media screen and (min-width: 481px) and (max-width: 490px) {
        font-size: 25px;
      }
      @media screen and (min-width: 391px) and (max-width: 417px) {
        font-size: 25px;
      }
      @media screen and (max-width: 390px) {
        font-size: 25px;
      }
    }
  }
  .letter-space {
    letter-spacing: -0.2em;
    margin-right: 5px;
  }
  .p-number__item-quote {
    font-size: 12px;
    line-height: calc(14 / 12);
    text-align: center;

    @include global.mq("tab") {
      font-size: 8px;
      text-align: left;
    }
    @include global.mq("sp") {
      text-align: left;
      font-size: 8px;
    }

    a {
      text-decoration: underline;
    }
  }
}

.p-number__item-vocational {
  @include global.mq("tab") {
    margin-bottom: 40px;
  }
  @include global.mq("sp") {
    margin-bottom: 40px;
  }

  .p-number__item-ttl {
    background: global.$pink-color;
  }
  .p-number__item-data {
    color: global.$pink-color;
  }
}
.p-number__item-university {
  @include global.mq("tab") {
    padding-bottom: 30px;
  }
  @include global.mq("sp") {
    padding-bottom: 30px;
  }
  .p-number__item-ttl {
    background: global.$blue-color;
  }
  .p-number__item-data {
    color: #1cadff;
  }
}
.p-number__item {
  margin: 0 40px;

  .p-number__item-wrap {
    display: flex;

    @include global.mq("pc") {
      flex-flow: column;
      justify-content: space-between;
    }

    .p-number__item-circle {
      width: 183px;
      height: 183px;
      border-radius: 50%;
      border: 4px dashed global.$black-color;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      font-weight: bold;

      &::before {
        content: "";
        border-right: 4px dashed global.$black-color;
        width: 1px;
        height: 20px;
        position: absolute;
        bottom: -17%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:first-child {
        margin-top: 89px;
        position: relative;

        &::after {
          content: "";
          border-right: 4px dashed global.$black-color;
          width: 1px;
          height: 80px;
          position: absolute;
          top: -23%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &:nth-child(2) {
        margin: 20px 0;
      }

      p {
        font-size: 30px;
      }
    }
  }
}

@include global.mq("tab") {
  .p-number__item-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 18%;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .p-number__item-balloon {
    position: relative;
    flex-shrink: 0;
    display: inline-block;
    height: 65px;
    width: 65px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #555;
    font-size: 16px;
    background: global.$main-color;
    border: solid 2px #555;
    margin-right: 60px;

    @media screen and (max-width: 480px) {
      margin-right: 25px;
    }
    @media screen and (max-width: 390px) {
      margin-right: 20px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: -24px;
      margin-top: -12px;
      border: 12px solid transparent;
      border-left: 12px solid global.$main-color;
      z-index: 2;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: -29px;
      margin-top: -14px;
      border: 14px solid transparent;
      border-left: 14px solid #555;
      z-index: 1;
    }
    p {
      margin: 0;
      padding: 0;
      font-weight: bold;
    }
  }
  .balloon {
    padding: 0 !important;
  }
}
@media screen and (min-width: 900px) and (max-width: 1023px) {
  .p-number__item-wrap {
    margin: 0 auto 30px 31%;
  }
}
@media screen and (min-width: 800px) and (max-width: 899px) {
  .p-number__item-wrap {
    margin: 0 auto 30px 24%;
  }
}
@media screen and (min-width: 700px) and (max-width: 799px) {
  .p-number__item-wrap {
    margin: 0 auto 30px 22%;
  }
}
@media screen and (min-width: 600px) and (max-width: 699px) {
  .p-number__item-wrap {
    margin: 0 auto 30px 17%;
  }
  .p-number__item-balloon {
    margin-right: 40px;
  }
}

@include global.mq("sp") {
  .p-number__item-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 25%;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .p-number__item-balloon {
    position: relative;
    flex-shrink: 0;
    display: inline-block;
    height: 65px;
    width: 65px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #555;
    font-size: 16px;
    background: global.$main-color;
    border: solid 2px #555;
    margin-right: 60px;

    @media screen and (max-width: 480px) {
      margin-right: 25px;
    }
    @media screen and (max-width: 390px) {
      margin-right: 25px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: -24px;
      margin-top: -12px;
      border: 12px solid transparent;
      border-left: 12px solid global.$main-color;
      z-index: 2;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: -29px;
      margin-top: -14px;
      border: 14px solid transparent;
      border-left: 14px solid #555;
      z-index: 1;
    }
    p {
      margin: 0;
      padding: 0;
    }
  }
  .balloon {
    padding: 0 !important;
  }
}

@media screen and (max-width: 550px) {
  .p-number__item-wrap {
    margin-left: 18%;
  }
}
@media screen and (max-width: 470px) {
  .p-number__item-wrap {
    margin-left: 10%;
  }
}
@media screen and (max-width: 390px) {
  .p-number__item-wrap {
    margin-left: 8%;
  }
}
