@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td,
small,
button,
time,
figure {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

li,
dd {
  list-style-type: none;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
  display: block;
}

img {
  border: none;
  vertical-align: bottom;
}

a {
  cursor: pointer;
  text-decoration: none;
}

body {
  color: #000;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  background: #5cc4ff;
}

body.active {
  width: 100%;
  height: 100%;
  position: fixed;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
}
a:hover {
  opacity: 0.7;
}

.l-top {
  color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/top/bg.png) no-repeat center center/cover;
}
@media screen and (min-width: 1024px) {
  .l-top {
    height: 550px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .l-top {
    height: 550px;
  }
}
@media screen and (max-width: 599px) {
  .l-top {
    background: url(../img/top/bg-sp.png) no-repeat center center/cover;
  }
}

.l-top__ttl-img {
  width: 86.48%;
  margin: 0 auto;
}
@media screen and (min-width: 1024px) {
  .l-top__ttl-img {
    max-width: 1400px;
    min-width: 900px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .l-top__ttl-img {
    min-width: 540px;
  }
}
@media screen and (max-width: 599px) {
  .l-top__ttl-img {
    width: 91.85%;
    padding: 20px 0;
    max-width: 425px;
  }
}

.l-number {
  padding: 0 0 96px;
}
@media screen and (max-width: 599px) {
  .l-number {
    padding: 0 0 39px;
  }
}
.l-number__inner {
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
}
@media screen and (min-width: 1023px) and (max-width: 1234px) {
  .l-number__inner {
    width: 88%;
  }
}
@media screen and (max-width: 599px) {
  .l-number__inner {
    width: 100%;
    padding: 0 30px;
  }
}
@media screen and (max-width: 380px) {
  .l-number__inner {
    padding: 0 15px;
  }
}

.l-learning {
  padding: 0 0 96px;
  background: #fff;
}
@media screen and (max-width: 599px) {
  .l-learning {
    padding: 0 0 39px;
  }
}
.l-learning__inner {
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
}
@media screen and (max-width: 599px) {
  .l-learning__inner {
    width: 100%;
    padding: 0 15px;
  }
}

.l-fee {
  padding: 0 0 96px;
}
@media screen and (max-width: 599px) {
  .l-fee {
    padding: 0 0 39px;
  }
}
.l-fee__inner {
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
}
@media screen and (max-width: 599px) {
  .l-fee__inner {
    width: 100%;
    padding: 0 15px;
  }
}

.l-diff {
  padding: 0 0 96px;
  background: #fff;
}
@media screen and (max-width: 599px) {
  .l-diff {
    padding: 0 0 57px;
  }
}
.l-diff__inner {
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
}
@media screen and (max-width: 599px) {
  .l-diff__inner {
    width: 100%;
    padding: 0 15px;
  }
}

.l-exam {
  padding: 0 0 96px;
  background: #fff;
}
@media screen and (max-width: 599px) {
  .l-exam {
    padding: 0 0 39px;
  }
}
.l-exam__inner {
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
}

.l-map {
  width: 100%;
  height: 436px;
}
.l-map iframe {
  width: 100%;
  height: 436px;
}

.l-course {
  position: relative;
}
.l-course__inner {
  max-width: 1000px;
  width: 80%;
  margin: 0 auto;
}
@media screen and (max-width: 599px) {
  .l-course__inner {
    width: 100%;
    padding: 0 15px;
  }
}

.l-course__wrap {
  position: relative;
  overflow: hidden;
  padding: 0 0 147px;
}
@media screen and (max-width: 599px) {
  .l-course__wrap {
    padding: 0 0 39px;
  }
}
.l-course__wrap > img {
  width: 269px;
  height: 245px;
  position: absolute;
  top: 4%;
  left: 93%;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media screen and (min-width: 1024px) {
  .l-course__wrap > img {
    width: 550px;
    height: 500px;
    top: 20%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .l-course__wrap > img {
    width: 550px;
    height: 500px;
  }
}
.l-course__wrap::before {
  content: "";
  background: url(../img/course/back-left.png) no-repeat center center/cover;
  width: 269px;
  height: 245px;
  position: absolute;
  top: 50%;
  left: 7%;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media screen and (min-width: 1024px) {
  .l-course__wrap::before {
    width: 550px;
    height: 500px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .l-course__wrap::before {
    width: 550px;
    height: 500px;
  }
}
.l-course__wrap::after {
  content: "";
  background: url(../img/course/back-bottom-right.png) no-repeat center center/cover;
  width: 269px;
  height: 245px;
  position: absolute;
  top: 99%;
  left: 93%;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media screen and (min-width: 1500px) {
  .l-course__wrap::after {
    top: 91%;
  }
}
@media screen and (min-width: 1024px) {
  .l-course__wrap::after {
    width: 550px;
    height: 500px;
    left: 90%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .l-course__wrap::after {
    width: 550px;
    height: 500px;
  }
}

.c-section__ttl {
  width: 100vw;
  position: relative;
  top: -2px;
}
.c-section__ttl img {
  width: 100vw;
}
.c-section__ttl .person1,
.c-section__ttl .person2,
.c-section__ttl .person3,
.c-section__ttl .person4,
.c-section__ttl .person5,
.c-section__ttl .person6 {
  position: absolute;
  bottom: 11%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  width: 12%;
}
@media screen and (max-width: 599px) {
  .c-section__ttl .person1,
  .c-section__ttl .person2,
  .c-section__ttl .person3,
  .c-section__ttl .person4,
  .c-section__ttl .person5,
  .c-section__ttl .person6 {
    width: 25%;
    bottom: 8%;
  }
}
@media screen and (max-width: 380px) {
  .c-section__ttl .person1,
  .c-section__ttl .person2,
  .c-section__ttl .person3,
  .c-section__ttl .person4,
  .c-section__ttl .person5,
  .c-section__ttl .person6 {
    width: 25%;
  }
}
.c-section__ttl .person1,
.c-section__ttl .person3 {
  left: 80%;
}
@media screen and (max-width: 599px) {
  .c-section__ttl .person1,
  .c-section__ttl .person3 {
    left: 85%;
  }
}
.c-section__ttl .person2 {
  left: 20%;
}
@media screen and (max-width: 599px) {
  .c-section__ttl .person2 {
    left: 12%;
  }
}
.c-section__ttl .person3 {
  bottom: 9%;
  width: 17%;
}
@media screen and (max-width: 599px) {
  .c-section__ttl .person3 {
    width: 30%;
  }
}
.c-section__ttl .person5 {
  width: 11%;
  left: 85%;
}
@media screen and (max-width: 599px) {
  .c-section__ttl .person5 {
    width: 22%;
  }
}
.c-section__ttl .person4 {
  left: 15%;
}
@media screen and (max-width: 599px) {
  .c-section__ttl .person4 {
    left: 10%;
  }
}
.c-section__ttl .person6 {
  left: 31%;
  width: 14%;
}
@media screen and (max-width: 599px) {
  .c-section__ttl .person6 {
    width: 31%;
    bottom: 2%;
    left: 15%;
  }
}

.p-number {
  background: #fff;
  width: 100%;
  margin-top: 42px;
  border-radius: 20px;
}
@media screen and (min-width: 1024px) {
  .p-number {
    padding: 60px 50px;
  }
}
@media screen and (min-width: 1023px) and (max-width: 1234px) {
  .p-number {
    padding: 60px 6px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-number {
    margin-top: 26px;
    padding: 32px 24px 30px;
  }
}
@media screen and (max-width: 599px) {
  .p-number {
    margin-top: 26px;
    padding: 32px 24px 30px;
  }
}
@media screen and (max-width: 390px) {
  .p-number {
    padding: 10px;
  }
}
.p-number h3 {
  color: #000;
  font-size: 40px;
  margin-bottom: 53px;
  text-align: center;
  font-weight: bold;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-number h3 {
    margin-bottom: 35px;
    font-size: 30px;
  }
}
@media screen and (max-width: 599px) {
  .p-number h3 {
    margin-bottom: 15px;
    font-size: 20px;
  }
}
@media screen and (max-width: 390px) {
  .p-number h3 {
    font-size: 18px;
  }
}
@media screen and (min-width: 1024px) {
  .p-number .p-number__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-number .p-number__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-number__item-vocational,
.p-number__item-university,
.p-number__item {
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .p-number__item-vocational,
  .p-number__item-university,
  .p-number__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

@media screen and (min-width: 1024px) {
  .p-number__item-vocational .p-number__item-wrap:nth-of-type(2),
  .p-number__item-university .p-number__item-wrap:nth-of-type(2) {
    margin: 105px 0;
  }
}
.p-number__item-vocational .p-number__item-ttl,
.p-number__item-university .p-number__item-ttl {
  color: #fff;
  font-size: 30px;
  letter-spacing: 0.05em;
  margin-bottom: 82px;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-number__item-vocational .p-number__item-ttl,
  .p-number__item-university .p-number__item-ttl {
    margin-bottom: 26px;
    font-size: 18px;
  }
}
@media screen and (max-width: 599px) {
  .p-number__item-vocational .p-number__item-ttl,
  .p-number__item-university .p-number__item-ttl {
    margin-bottom: 26px;
    font-size: 18px;
  }
}
@media screen and (min-width: 1024px) {
  .p-number__item-vocational .p-number__item-data-wrap:nth-child(3),
  .p-number__item-university .p-number__item-data-wrap:nth-child(3) {
    margin: 95px 0 115px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-number__item-vocational .p-number__item-data-wrap:nth-child(3),
  .p-number__item-university .p-number__item-data-wrap:nth-child(3) {
    margin: 95px 0 115px;
  }
}
.p-number__item-vocational .p-number__item-data,
.p-number__item-university .p-number__item-data {
  font-size: 76px;
  font-weight: bold;
  line-height: 1.2;
  font-family: "kozuka-gothic-pr6n", sans-serif;
  text-align: center;
}
@media screen and (min-width: 1235px) and (max-width: 1248px) {
  .p-number__item-vocational .p-number__item-data,
  .p-number__item-university .p-number__item-data {
    font-size: 73px;
  }
}
@media screen and (max-width: 1035px) {
  .p-number__item-vocational .p-number__item-data,
  .p-number__item-university .p-number__item-data {
    font-size: 74px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-number__item-vocational .p-number__item-data,
  .p-number__item-university .p-number__item-data {
    font-size: 57px;
  }
}
@media screen and (max-width: 599px) {
  .p-number__item-vocational .p-number__item-data,
  .p-number__item-university .p-number__item-data {
    font-size: 45px;
  }
}
@media screen and (min-width: 481px) and (max-width: 490px) {
  .p-number__item-vocational .p-number__item-data,
  .p-number__item-university .p-number__item-data {
    font-size: 36px;
  }
}
@media screen and (min-width: 391px) and (max-width: 417px) {
  .p-number__item-vocational .p-number__item-data,
  .p-number__item-university .p-number__item-data {
    font-size: 36px;
  }
}
@media screen and (max-width: 390px) {
  .p-number__item-vocational .p-number__item-data,
  .p-number__item-university .p-number__item-data {
    font-size: 36px;
  }
}
.p-number__item-vocational .p-number__item-data .font-small,
.p-number__item-university .p-number__item-data .font-small {
  font-size: 45px;
  line-height: 1.2;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-number__item-vocational .p-number__item-data .font-small,
  .p-number__item-university .p-number__item-data .font-small {
    font-size: 40px;
  }
}
@media screen and (max-width: 599px) {
  .p-number__item-vocational .p-number__item-data .font-small,
  .p-number__item-university .p-number__item-data .font-small {
    font-size: 27px;
  }
}
@media screen and (min-width: 481px) and (max-width: 490px) {
  .p-number__item-vocational .p-number__item-data .font-small,
  .p-number__item-university .p-number__item-data .font-small {
    font-size: 25px;
  }
}
@media screen and (min-width: 391px) and (max-width: 417px) {
  .p-number__item-vocational .p-number__item-data .font-small,
  .p-number__item-university .p-number__item-data .font-small {
    font-size: 25px;
  }
}
@media screen and (max-width: 390px) {
  .p-number__item-vocational .p-number__item-data .font-small,
  .p-number__item-university .p-number__item-data .font-small {
    font-size: 25px;
  }
}
.p-number__item-vocational .letter-space,
.p-number__item-university .letter-space {
  letter-spacing: -0.2em;
  margin-right: 5px;
}
.p-number__item-vocational .p-number__item-quote,
.p-number__item-university .p-number__item-quote {
  font-size: 12px;
  line-height: 1.1666666667;
  text-align: center;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-number__item-vocational .p-number__item-quote,
  .p-number__item-university .p-number__item-quote {
    font-size: 8px;
    text-align: left;
  }
}
@media screen and (max-width: 599px) {
  .p-number__item-vocational .p-number__item-quote,
  .p-number__item-university .p-number__item-quote {
    text-align: left;
    font-size: 8px;
  }
}
.p-number__item-vocational .p-number__item-quote a,
.p-number__item-university .p-number__item-quote a {
  text-decoration: underline;
}

@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-number__item-vocational {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 599px) {
  .p-number__item-vocational {
    margin-bottom: 40px;
  }
}
.p-number__item-vocational .p-number__item-ttl {
  background: #ff70b0;
}
.p-number__item-vocational .p-number__item-data {
  color: #ff70b0;
}

@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-number__item-university {
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 599px) {
  .p-number__item-university {
    padding-bottom: 30px;
  }
}
.p-number__item-university .p-number__item-ttl {
  background: #118fd8;
}
.p-number__item-university .p-number__item-data {
  color: #1cadff;
}

.p-number__item {
  margin: 0 40px;
}
.p-number__item .p-number__item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 1024px) {
  .p-number__item .p-number__item-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.p-number__item .p-number__item-wrap .p-number__item-circle {
  width: 183px;
  height: 183px;
  border-radius: 50%;
  border: 4px dashed #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  font-weight: bold;
}
.p-number__item .p-number__item-wrap .p-number__item-circle::before {
  content: "";
  border-right: 4px dashed #000;
  width: 1px;
  height: 20px;
  position: absolute;
  bottom: -17%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.p-number__item .p-number__item-wrap .p-number__item-circle:first-child {
  margin-top: 89px;
  position: relative;
}
.p-number__item .p-number__item-wrap .p-number__item-circle:first-child::after {
  content: "";
  border-right: 4px dashed #000;
  width: 1px;
  height: 80px;
  position: absolute;
  top: -23%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.p-number__item .p-number__item-wrap .p-number__item-circle:nth-child(2) {
  margin: 20px 0;
}
.p-number__item .p-number__item-wrap .p-number__item-circle p {
  font-size: 30px;
}

@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-number__item-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
    margin-left: 18%;
  }
  .p-number__item-wrap:last-child {
    margin-bottom: 0;
  }
  .p-number__item-balloon {
    position: relative;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    display: inline-block;
    height: 65px;
    width: 65px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #555;
    font-size: 16px;
    background: #fff;
    border: solid 2px #555;
    margin-right: 60px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1023px) and (max-width: 480px) {
  .p-number__item-balloon {
    margin-right: 25px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1023px) and (max-width: 390px) {
  .p-number__item-balloon {
    margin-right: 20px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-number__item-balloon::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -24px;
    margin-top: -12px;
    border: 12px solid transparent;
    border-left: 12px solid #fff;
    z-index: 2;
  }
  .p-number__item-balloon::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -29px;
    margin-top: -14px;
    border: 14px solid transparent;
    border-left: 14px solid #555;
    z-index: 1;
  }
  .p-number__item-balloon p {
    margin: 0;
    padding: 0;
    font-weight: bold;
  }
  .balloon {
    padding: 0 !important;
  }
}
@media screen and (min-width: 900px) and (max-width: 1023px) {
  .p-number__item-wrap {
    margin: 0 auto 30px 31%;
  }
}
@media screen and (min-width: 800px) and (max-width: 899px) {
  .p-number__item-wrap {
    margin: 0 auto 30px 24%;
  }
}
@media screen and (min-width: 700px) and (max-width: 799px) {
  .p-number__item-wrap {
    margin: 0 auto 30px 22%;
  }
}
@media screen and (min-width: 600px) and (max-width: 699px) {
  .p-number__item-wrap {
    margin: 0 auto 30px 17%;
  }
  .p-number__item-balloon {
    margin-right: 40px;
  }
}
@media screen and (max-width: 599px) {
  .p-number__item-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
    margin-left: 25%;
  }
  .p-number__item-wrap:last-child {
    margin-bottom: 0;
  }
  .p-number__item-balloon {
    position: relative;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    display: inline-block;
    height: 65px;
    width: 65px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #555;
    font-size: 16px;
    background: #fff;
    border: solid 2px #555;
    margin-right: 60px;
  }
}
@media screen and (max-width: 599px) and (max-width: 480px) {
  .p-number__item-balloon {
    margin-right: 25px;
  }
}
@media screen and (max-width: 599px) and (max-width: 390px) {
  .p-number__item-balloon {
    margin-right: 25px;
  }
}
@media screen and (max-width: 599px) {
  .p-number__item-balloon::before {
    content: "";
    position: absolute;
    top: 50%;
    right: -24px;
    margin-top: -12px;
    border: 12px solid transparent;
    border-left: 12px solid #fff;
    z-index: 2;
  }
  .p-number__item-balloon::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -29px;
    margin-top: -14px;
    border: 14px solid transparent;
    border-left: 14px solid #555;
    z-index: 1;
  }
  .p-number__item-balloon p {
    margin: 0;
    padding: 0;
  }
  .balloon {
    padding: 0 !important;
  }
}
@media screen and (max-width: 550px) {
  .p-number__item-wrap {
    margin-left: 18%;
  }
}
@media screen and (max-width: 470px) {
  .p-number__item-wrap {
    margin-left: 10%;
  }
}
@media screen and (max-width: 390px) {
  .p-number__item-wrap {
    margin-left: 8%;
  }
}
.p-learning {
  width: 100%;
  margin-top: 42px;
  border-radius: 20px;
  text-align: center;
}
.p-learning h3 {
  color: #000;
  font-size: 40px;
  margin-bottom: 53px;
  position: relative;
  display: inline-block;
  font-weight: bold;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-learning h3 {
    font-size: 20px;
  }
}
@media screen and (max-width: 599px) {
  .p-learning h3 {
    font-size: 20px;
  }
}
.p-learning h3::before, .p-learning h3::after {
  content: "";
  position: absolute;
  top: 13%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 25px;
  height: 41px;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-learning h3::before, .p-learning h3::after {
    top: 11%;
    width: 5px;
    height: 25px;
  }
}
@media screen and (max-width: 599px) {
  .p-learning h3::before, .p-learning h3::after {
    top: 11%;
    width: 5px;
    height: 25px;
  }
}
.p-learning h3::before {
  left: -6%;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  border-left: 4px solid #000;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-learning h3::before {
    border-left: 3px solid #000;
  }
}
@media screen and (max-width: 599px) {
  .p-learning h3::before {
    border-left: 3px solid #000;
  }
}
.p-learning h3::after {
  right: -6%;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  border-right: 4px solid #000;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-learning h3::after {
    border-right: 3px solid #000;
  }
}
@media screen and (max-width: 599px) {
  .p-learning h3::after {
    border-right: 3px solid #000;
  }
}

@media screen and (min-width: 1024px) {
  .p-learning__table {
    margin-bottom: 93px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-learning__table {
    margin-bottom: 63px;
  }
}
@media screen and (max-width: 599px) {
  .p-learning__table {
    margin-bottom: 42px;
  }
}
.p-learning__table table {
  table-layout: auto;
  width: 100%;
  font-weight: bold;
}
.p-learning__table table,
.p-learning__table td,
.p-learning__table th {
  border-collapse: collapse;
  vertical-align: middle;
  border: 4px solid #fff;
}
.p-learning__table td {
  padding: 25px 0;
}
.p-learning__table tr:nth-child(1) th:nth-child(2),
.p-learning__table tr:nth-child(1) th:nth-child(3),
.p-learning__table tr:nth-child(2) th,
.p-learning__table tr:nth-child(3) th {
  font-size: 30px;
  letter-spacing: 0.05em;
  line-height: 1.2;
}
.p-learning__table tr:nth-child(1) th:nth-child(2),
.p-learning__table tr:nth-child(1) th:nth-child(3) {
  color: #fff;
  height: 62px;
  font-size: 30px;
}
.p-learning__table tr:nth-child(1) th:nth-child(2),
.p-learning__table tr:nth-child(1) th:nth-child(3) {
  font-size: 24px;
  font-size: 18px;
}
.p-learning__table tr:nth-child(1) th:nth-child(2) {
  background: #ff70b0;
  border-radius: 20px 0 0 0;
  width: 136px;
}
.p-learning__table tr:nth-child(1) th:nth-child(3) {
  width: 136px;
  background: #118fd8;
  border-radius: 0 20px 0 0;
}
.p-learning__table tr:nth-child(2) th,
.p-learning__table tr:nth-child(3) th {
  background: #555555;
  color: #fff;
}
@media screen and (min-width: 1024px) {
  .p-learning__table tr:nth-child(2) th,
  .p-learning__table tr:nth-child(3) th {
    width: 250px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-learning__table tr:nth-child(2) th,
  .p-learning__table tr:nth-child(3) th {
    font-size: 15px;
    width: 44px;
  }
  .p-learning__table tr:nth-child(2) th span,
  .p-learning__table tr:nth-child(3) th span {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    white-space: pre;
    display: inline-block;
  }
}
@media screen and (max-width: 599px) {
  .p-learning__table tr:nth-child(2) th,
  .p-learning__table tr:nth-child(3) th {
    font-size: 15px;
    width: 44px;
  }
  .p-learning__table tr:nth-child(2) th span,
  .p-learning__table tr:nth-child(3) th span {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    white-space: pre;
    display: inline-block;
  }
}
.p-learning__table tr:nth-child(2) td {
  text-align: center;
}
.p-learning__table tr:nth-child(2) th {
  border-radius: 20px 0 0 0;
}
.p-learning__table tr:nth-child(3) th {
  border-radius: 0 0 0 20px;
}
.p-learning__table tr:nth-child(2) td:nth-child(2),
.p-learning__table tr:nth-child(3) td:nth-child(2) {
  background: #ffebf4;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-learning__table tr:nth-child(2) td:nth-child(2),
  .p-learning__table tr:nth-child(3) td:nth-child(2) {
    font-size: 13px;
  }
}
@media screen and (max-width: 599px) {
  .p-learning__table tr:nth-child(2) td:nth-child(2),
  .p-learning__table tr:nth-child(3) td:nth-child(2) {
    font-size: 13px;
  }
}
.p-learning__table tr:nth-child(2) td:nth-child(3),
.p-learning__table tr:nth-child(3) td:nth-child(3) {
  background: #ebf8ff;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-learning__table tr:nth-child(2) td:nth-child(3),
  .p-learning__table tr:nth-child(3) td:nth-child(3) {
    font-size: 13px;
  }
}
@media screen and (max-width: 599px) {
  .p-learning__table tr:nth-child(2) td:nth-child(3),
  .p-learning__table tr:nth-child(3) td:nth-child(3) {
    font-size: 13px;
  }
}
.p-learning__table ul {
  margin: 0 auto;
  text-align: left;
}
@media screen and (min-width: 1024px) {
  .p-learning__table ul {
    width: 260px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-learning__table ul {
    padding-left: 20%;
  }
}
@media screen and (max-width: 599px) {
  .p-learning__table ul {
    padding-left: 27%;
  }
}
@media screen and (max-width: 450px) {
  .p-learning__table ul {
    padding-left: 11%;
  }
}
.p-learning__table li {
  text-indent: -1em;
  padding-left: 1em;
}

@media screen and (min-width: 1024px) {
  .p-learning__type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.p-learning__university,
.p-learning__vocational {
  border-radius: 20px;
}
@media screen and (min-width: 1024px) {
  .p-learning__university,
  .p-learning__vocational {
    width: calc(50% - 21px);
    padding: 35px 0 13px;
    margin-right: 42px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-learning__university,
  .p-learning__vocational {
    width: 100%;
    padding: 20px 25px 10px;
  }
}
@media screen and (max-width: 599px) {
  .p-learning__university,
  .p-learning__vocational {
    width: 100%;
    padding: 20px 25px 10px;
  }
}
.p-learning__university p,
.p-learning__vocational p {
  display: inline-block;
  padding: 15px 90px;
  border-radius: 100px;
  font-size: 30px;
  color: #fff;
  line-height: 1.2;
  letter-spacing: 0.05em;
  margin: 0 0 31px;
  font-weight: bold;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-learning__university p,
  .p-learning__vocational p {
    font-size: 18px;
    padding: 11px 0px;
    width: 170px;
    margin: 0 auto 15px;
  }
}
@media screen and (max-width: 599px) {
  .p-learning__university p,
  .p-learning__vocational p {
    font-size: 18px;
    padding: 11px 0px;
    width: 170px;
    margin: 0 auto 15px;
  }
}
.p-learning__university ul,
.p-learning__vocational ul {
  text-align: left;
  font-size: 20px;
  width: 381px;
  margin: 0 auto;
  font-weight: bold;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-learning__university ul,
  .p-learning__vocational ul {
    width: 405px;
    font-size: 16px;
  }
}
@media screen and (max-width: 599px) {
  .p-learning__university ul,
  .p-learning__vocational ul {
    font-size: 13px;
    width: 330px;
  }
}
@media screen and (max-width: 390px) {
  .p-learning__university ul,
  .p-learning__vocational ul {
    width: 255px;
  }
}
.p-learning__university li,
.p-learning__vocational li {
  line-height: 1.85;
  text-indent: -1em;
  padding-left: 1em;
}

.p-learning__university {
  margin-right: 0;
  background: #ebf8ff;
}
.p-learning__university P {
  background: #118fd8;
}

.p-learning__vocational {
  background: #ffebf4;
}
@media screen and (min-width: 1024px) {
  .p-learning__vocational {
    margin-right: 42px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-learning__vocational {
    margin-bottom: 22px;
  }
}
@media screen and (max-width: 599px) {
  .p-learning__vocational {
    margin-bottom: 22px;
  }
}
.p-learning__vocational p {
  background: #ff70b0;
}

.p-fee {
  background: #fff;
  width: 100%;
  margin-top: 42px;
  border-radius: 20px;
}
@media screen and (min-width: 1024px) {
  .p-fee {
    padding: 60px 50px 0px;
  }
}
@media screen and (min-width: 1024px) {
  .p-fee .p-fee__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-fee .p-fee__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 25px;
  }
}
@media screen and (max-width: 599px) {
  .p-fee .p-fee__items {
    padding: 25px;
  }
}

.p-fee__item-fukidashi {
  position: relative;
  display: inline-block;
  margin: 0 0 25px;
  padding: 10px 0px;
  width: 100%;
  color: #555;
  font-size: 16px;
  background: #fff;
  border: solid 2px #555;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.p-fee__item-fukidashi::before {
  content: "";
  position: absolute;
  bottom: -26px;
  left: 50%;
  margin-left: -16px;
  border: 13px solid transparent;
  border-top: 13px solid #fff;
  z-index: 2;
}
.p-fee__item-fukidashi::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  margin-left: -17px;
  border: 14px solid transparent;
  border-top: 14px solid #555;
  z-index: 1;
}
.p-fee__item-fukidashi p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.p-fee__item-vocational,
.p-fee__item-university,
.p-fee__item {
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .p-fee__item-vocational,
  .p-fee__item-university,
  .p-fee__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

.p-fee__item-vocational .p-fee__item-ttl,
.p-fee__item-university .p-fee__item-ttl {
  color: #fff;
  font-size: 30px;
  letter-spacing: 0.05em;
  margin-bottom: 82px;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-fee__item-vocational .p-fee__item-ttl,
  .p-fee__item-university .p-fee__item-ttl {
    margin-bottom: 22px;
    font-size: 23px;
  }
}
@media screen and (max-width: 599px) {
  .p-fee__item-vocational .p-fee__item-ttl,
  .p-fee__item-university .p-fee__item-ttl {
    margin-bottom: 22px;
    font-size: 18px;
  }
}
.p-fee__item-vocational .p-fee__item-data-wrap > p,
.p-fee__item-university .p-fee__item-data-wrap > p {
  font-size: 28px;
  font-weight: bold;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-fee__item-vocational .p-fee__item-data-wrap > p,
  .p-fee__item-university .p-fee__item-data-wrap > p {
    font-size: 23px;
  }
}
@media screen and (max-width: 599px) {
  .p-fee__item-vocational .p-fee__item-data-wrap > p,
  .p-fee__item-university .p-fee__item-data-wrap > p {
    font-size: 18px;
  }
}
@media screen and (min-width: 1024px) {
  .p-fee__item-vocational .p-fee__item-data-wrap:nth-child(3),
  .p-fee__item-university .p-fee__item-data-wrap:nth-child(3) {
    margin: 95px 0 115px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1249px) {
  .p-fee__item-vocational .p-fee__item-data-wrap:nth-child(3),
  .p-fee__item-university .p-fee__item-data-wrap:nth-child(3) {
    margin: 95px 0 45px;
  }
}
.p-fee__item-vocational .p-fee__item-data,
.p-fee__item-university .p-fee__item-data {
  font-size: 70px;
  font-weight: bold;
  font-family: "kozuka-gothic-pr6n", sans-serif;
  line-height: 1.2;
  text-indent: -0.7em;
  padding-left: 0.7em;
  letter-spacing: -0.15em;
}
@media screen and (min-width: 1024px) and (max-width: 1249px) {
  .p-fee__item-vocational .p-fee__item-data,
  .p-fee__item-university .p-fee__item-data {
    font-size: 50px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-fee__item-vocational .p-fee__item-data,
  .p-fee__item-university .p-fee__item-data {
    font-size: 58px;
    text-indent: -0.5em;
    padding-left: 0.5em;
  }
}
@media screen and (max-width: 599px) {
  .p-fee__item-vocational .p-fee__item-data,
  .p-fee__item-university .p-fee__item-data {
    font-size: 58px;
    text-indent: -0.5em;
    padding-left: 0.5em;
  }
}
@media screen and (max-width: 339px) {
  .p-fee__item-vocational .p-fee__item-data,
  .p-fee__item-university .p-fee__item-data {
    font-size: 55px;
    text-indent: -0.6em;
    padding-left: 0.6em;
  }
}
.p-fee__item-vocational .p-fee__item-data span,
.p-fee__item-university .p-fee__item-data span {
  font-size: 52px;
  line-height: 1.2;
}
@media screen and (min-width: 1024px) and (max-width: 1249px) {
  .p-fee__item-vocational .p-fee__item-data span,
  .p-fee__item-university .p-fee__item-data span {
    font-size: 38px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-fee__item-vocational .p-fee__item-data span,
  .p-fee__item-university .p-fee__item-data span {
    font-size: 38px;
  }
}
@media screen and (max-width: 599px) {
  .p-fee__item-vocational .p-fee__item-data span,
  .p-fee__item-university .p-fee__item-data span {
    font-size: 38px;
  }
}
@media screen and (max-width: 339px) {
  .p-fee__item-vocational .p-fee__item-data span,
  .p-fee__item-university .p-fee__item-data span {
    font-size: 33px;
  }
}
.p-fee__item-vocational .p-fee__item-quote,
.p-fee__item-university .p-fee__item-quote {
  font-size: 12px;
  line-height: 1.1666666667;
}
.p-fee__item-vocational .p-fee__item-quote a,
.p-fee__item-university .p-fee__item-quote a {
  text-decoration: underline;
}

.p-fee__item-vocational .p-fee__item-data-wrap > p {
  color: #ff70b0;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-fee__item-vocational .p-fee__item-data-wrap {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 599px) {
  .p-fee__item-vocational .p-fee__item-data-wrap {
    margin-bottom: 40px;
  }
}
.p-fee__item-vocational .p-fee__item-ttl {
  background: #ff70b0;
}
.p-fee__item-vocational .p-fee__item-data {
  color: #ff70b0;
}

.p-fee__item-university .p-fee__item-data-wrap > p {
  color: #1cadff;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-fee__item-university .p-fee__item-data-wrap {
    margin-bottom: 40px;
  }
  .p-fee__item-university .p-fee__item-data-wrap:last-child {
    margin-bottom: 0;
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 599px) {
  .p-fee__item-university .p-fee__item-data-wrap {
    margin-bottom: 40px;
  }
  .p-fee__item-university .p-fee__item-data-wrap:last-child {
    margin-bottom: 0;
    padding-bottom: 40px;
  }
}
.p-fee__item-university .p-fee__item-ttl {
  background: #118fd8;
}
.p-fee__item-university .p-fee__item-data {
  color: #1cadff;
}

.p-fee__item {
  margin: 0 40px;
}
.p-fee__item .p-fee__item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 1024px) {
  .p-fee__item .p-fee__item-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.p-fee__item .p-fee__item-wrap .p-fee__item-circle {
  width: 183px;
  height: 183px;
  border-radius: 50%;
  border: 4px dashed #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  font-weight: bold;
}
.p-fee__item .p-fee__item-wrap .p-fee__item-circle::before, .p-fee__item .p-fee__item-wrap .p-fee__item-circle::after {
  content: "";
  border-right: 4px dashed #000;
  width: 1px;
  height: 285px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media screen and (min-width: 1024px) and (max-width: 1249px) {
  .p-fee__item .p-fee__item-wrap .p-fee__item-circle::before, .p-fee__item .p-fee__item-wrap .p-fee__item-circle::after {
    height: 207px;
  }
}
.p-fee__item .p-fee__item-wrap .p-fee__item-circle::before {
  top: 183%;
}
@media screen and (min-width: 1024px) and (max-width: 1249px) {
  .p-fee__item .p-fee__item-wrap .p-fee__item-circle::before {
    top: 160%;
  }
}
.p-fee__item .p-fee__item-wrap .p-fee__item-circle::after {
  top: -83%;
}
@media screen and (min-width: 1024px) and (max-width: 1249px) {
  .p-fee__item .p-fee__item-wrap .p-fee__item-circle::after {
    top: -59%;
  }
}
.p-fee__item .p-fee__item-wrap .p-fee__item-circle:nth-child(2) {
  margin: 20px 0;
}
.p-fee__item .p-fee__item-wrap .p-fee__item-circle p {
  font-size: 25px;
}

.p-fee__txt {
  background: url(../img/fee/fee-bg.png) no-repeat center center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  padding: 23px 46px;
  border-radius: 0 0 20px 20px;
}
@media screen and (max-width: 599px) {
  .p-fee__txt {
    padding: 22px 24px 22px 15px;
  }
}
.p-fee__txt img {
  width: 157px;
  margin-right: 37.5px;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-fee__txt img {
    width: 84px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 599px) {
  .p-fee__txt img {
    width: 84px;
    margin-right: 10px;
  }
}
.p-fee__txt p {
  font-size: 19px;
  line-height: 1.85;
  letter-spacing: 0.05em;
  font-weight: bold;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-fee__txt p {
    line-height: 1.3846153846;
    font-size: 13px;
  }
}
@media screen and (max-width: 599px) {
  .p-fee__txt p {
    line-height: 1.3846153846;
    font-size: 13px;
  }
}

.p-diff {
  width: 100%;
  margin-top: 42px;
  border-radius: 20px;
  text-align: center;
}
.p-diff h3 {
  color: #000;
  font-size: 17px;
  margin-bottom: 30px;
  position: relative;
  display: inline-block;
}
@media screen and (min-width: 806px) {
  .p-diff h3 {
    display: none !important;
  }
}
.p-diff h3::before, .p-diff h3::after {
  content: "";
  position: absolute;
  top: 6%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 15px;
  height: 18px;
}
@media screen and (min-width: 1024px) {
  .p-diff h3::before, .p-diff h3::after {
    top: 12%;
    width: 25px;
    height: 41px;
  }
}
.p-diff h3::before {
  right: -6%;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  border-left: 4px solid #000;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-diff h3::before {
    border-left: 2px solid #000;
    left: -4%;
  }
}
@media screen and (max-width: 599px) {
  .p-diff h3::before {
    border-left: 2px solid #000;
    left: -4%;
  }
}
.p-diff h3::after {
  right: -6%;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  border-right: 4px solid #000;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-diff h3::after {
    right: -4%;
    border-right: 2px solid #000;
  }
}
@media screen and (max-width: 599px) {
  .p-diff h3::after {
    right: -4%;
    border-right: 2px solid #000;
  }
}
.p-diff__img {
  margin-bottom: 90px;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-diff__img {
    overflow-x: auto;
    padding-bottom: 10px;
    -webkit-overflow-scrolling: touch;
    padding: 25px;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-radius: 25px 0 0 25px;
    margin: 0 0 30px 0px;
    /*スクロールバー全体の背景*/
    /*スクロールバーの動く部分*/
    /*スクロールバーの動く部分のホバー（マウスオーバー）*/
  }
  .p-diff__img div img {
    max-width: 100%;
    min-width: 750px;
    vertical-align: top;
  }
  .p-diff__img::-webkit-scrollbar {
    height: 23px;
  }
  .p-diff__img::-webkit-scrollbar-track {
    background: #fff;
    border-top: 1px solid #000;
  }
  .p-diff__img::-webkit-scrollbar-thumb {
    background: #aaa;
    border: none;
  }
  .p-diff__img::-webkit-scrollbar-thumb:hover {
    background: #999;
  }
}
@media screen and (max-width: 599px) {
  .p-diff__img {
    overflow-x: auto;
    padding-bottom: 10px;
    -webkit-overflow-scrolling: touch;
    padding: 25px;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-radius: 25px 0 0 25px;
    margin: 0 0 30px 0px;
    /*スクロールバー全体の背景*/
    /*スクロールバーの動く部分*/
    /*スクロールバーの動く部分のホバー（マウスオーバー）*/
  }
  .p-diff__img div img {
    max-width: 100%;
    min-width: 750px;
    vertical-align: top;
  }
  .p-diff__img::-webkit-scrollbar {
    height: 23px;
  }
  .p-diff__img::-webkit-scrollbar-track {
    background: #fff;
    border-top: 1px solid #000;
  }
  .p-diff__img::-webkit-scrollbar-thumb {
    background: #aaa;
    border: none;
  }
  .p-diff__img::-webkit-scrollbar-thumb:hover {
    background: #999;
  }
}

.p-diff__type {
  font-weight: bold;
  margin: 0;
}
@media screen and (min-width: 1024px) {
  .p-diff__type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 30px;
  }
}

.p-diff__university,
.p-diff__vocational {
  border-radius: 20px;
}
@media screen and (min-width: 1024px) {
  .p-diff__university,
  .p-diff__vocational {
    margin-right: 42px;
    padding: 35px 0 23px;
    width: calc(50% - 21px);
  }
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-diff__university,
  .p-diff__vocational {
    padding: 19px;
  }
}
@media screen and (max-width: 599px) {
  .p-diff__university,
  .p-diff__vocational {
    padding: 19px;
  }
}
.p-diff__university p:nth-child(1),
.p-diff__vocational p:nth-child(1) {
  display: inline-block;
  text-align: center;
  padding: 17px 0;
  border-radius: 100px;
  font-size: 30px;
  color: #fff;
  line-height: 1.2;
  letter-spacing: 0.05em;
  margin: 0 0 31px;
}
@media screen and (min-width: 1024px) {
  .p-diff__university p:nth-child(1),
  .p-diff__vocational p:nth-child(1) {
    width: 394px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-diff__university p:nth-child(1),
  .p-diff__vocational p:nth-child(1) {
    width: 185px;
    padding: 15px 0;
    font-size: 18px;
  }
}
@media screen and (max-width: 599px) {
  .p-diff__university p:nth-child(1),
  .p-diff__vocational p:nth-child(1) {
    width: 185px;
    padding: 15px 0;
    font-size: 18px;
  }
}
.p-diff__university p:nth-child(2),
.p-diff__vocational p:nth-child(2) {
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 24px;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-diff__university p:nth-child(2),
  .p-diff__vocational p:nth-child(2) {
    font-size: 18px;
  }
}
@media screen and (max-width: 599px) {
  .p-diff__university p:nth-child(2),
  .p-diff__vocational p:nth-child(2) {
    font-size: 18px;
  }
}
.p-diff__university p:nth-child(3),
.p-diff__vocational p:nth-child(3) {
  text-align: left;
}
@media screen and (min-width: 1024px) {
  .p-diff__university p:nth-child(3),
  .p-diff__vocational p:nth-child(3) {
    width: 400px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-diff__university p:nth-child(3),
  .p-diff__vocational p:nth-child(3) {
    font-size: 13px;
  }
}
@media screen and (max-width: 599px) {
  .p-diff__university p:nth-child(3),
  .p-diff__vocational p:nth-child(3) {
    font-size: 13px;
  }
}

.p-diff__university {
  margin-right: 0;
  background: #ebf8ff;
}
.p-diff__university p:nth-child(1) {
  background: #118fd8;
}

.p-diff__vocational {
  background: #ffebf4;
}
.p-diff__vocational p:nth-child(1) {
  background: #ff70b0;
}
@media screen and (min-width: 1024px) {
  .p-diff__vocational {
    margin-right: 42px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-diff__vocational {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 599px) {
  .p-diff__vocational {
    margin-bottom: 20px;
  }
}

.p-exam {
  width: 100%;
  margin-top: 42px;
  border-radius: 20px;
  text-align: center;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-exam {
    margin-top: 29px;
  }
}
@media screen and (max-width: 599px) {
  .p-exam {
    margin-top: 29px;
  }
}
.p-exam__btn {
  margin-top: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-exam__btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin-top: 37px;
  }
}
@media screen and (max-width: 599px) {
  .p-exam__btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin-top: 37px;
  }
}
.p-exam__btn a {
  display: block;
  width: 450px;
  padding: 35px 0px;
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 0.05em;
  text-align: center;
  background-color: #000;
  color: #fff;
  border-radius: 54px;
}
@media screen and (min-width: 1024px) {
  .p-exam__btn a {
    margin-right: 32px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-exam__btn a {
    width: 280px;
    font-size: 18px;
    padding: 18px 0;
  }
}
@media screen and (max-width: 599px) {
  .p-exam__btn a {
    width: 280px;
    font-size: 18px;
    padding: 18px 0;
  }
}
.p-exam__btn a:last-child {
  margin-right: 0;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-exam__btn a:last-child {
    margin-top: 20px;
  }
}
@media screen and (max-width: 599px) {
  .p-exam__btn a:last-child {
    margin-top: 20px;
  }
}

.p-course {
  width: 100%;
  margin-top: 42px;
  border-radius: 20px;
  text-align: center;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-course {
    margin-top: 17px;
  }
}
@media screen and (max-width: 599px) {
  .p-course {
    margin-top: 17px;
  }
}
.p-course__ttl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}
.p-course h3 {
  font-size: 25px;
  display: inline-block;
  padding: 12px 40px;
  background: #ff70b0;
  border-radius: 27px;
  color: #fff;
  margin-bottom: 32px;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-course h3 {
    font-size: 15px;
    min-width: 290px;
    padding: 12px 0;
    margin-bottom: 17px;
  }
}
@media screen and (max-width: 599px) {
  .p-course h3 {
    font-size: 15px;
    min-width: 290px;
    padding: 12px 0;
    margin-bottom: 17px;
  }
}
.p-course h4 {
  color: #fff;
  font-size: 40px;
  position: relative;
  display: inline-block;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-course h4 {
    font-size: 23px;
  }
}
@media screen and (max-width: 599px) {
  .p-course h4 {
    font-size: 23px;
  }
}
.p-course h4::before, .p-course h4::after {
  content: "";
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 9%;
  width: 15px;
  height: 24px;
}
@media screen and (min-width: 1024px) {
  .p-course h4::before, .p-course h4::after {
    top: 13%;
    width: 25px;
    height: 41px;
  }
}
.p-course h4::before {
  left: -9%;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  border-left: 2px solid #fff;
}
@media screen and (min-width: 1024px) {
  .p-course h4::before {
    border-left: 4px solid #fff;
    left: -11%;
  }
}
.p-course h4::after {
  right: -9%;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  border-right: 2px solid #fff;
}
@media screen and (min-width: 1024px) {
  .p-course h4::after {
    border-right: 4px solid #fff;
    right: -11%;
  }
}
.p-course__items {
  margin-top: 73px;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-course__items {
    margin-top: 58px;
  }
}
@media screen and (max-width: 599px) {
  .p-course__items {
    margin-top: 58px;
  }
}

.p-course__item {
  margin-bottom: 70px;
}
@media screen and (min-width: 1024px) {
  .p-course__item {
    height: 386px;
    margin-bottom: 93px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.p-course__item:last-child {
  margin-bottom: 0;
}
.p-course__item-body {
  background: #fff;
  border-radius: 20px 0 0 20px;
  text-align: left;
  letter-spacing: 0.05em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-course__item-body {
    border-radius: 20px 20px 0 0;
    padding: 55px 23px 32px;
  }
}
@media screen and (max-width: 599px) {
  .p-course__item-body {
    border-radius: 20px 20px 0 0;
    padding: 55px 15px 32px;
  }
}
.p-course__item-ttl {
  font-size: 30px;
  color: #ff70b0;
  font-weight: bold;
  margin-bottom: 27px;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-course__item-ttl {
    font-size: 25px;
    text-align: center;
  }
}
@media screen and (max-width: 599px) {
  .p-course__item-ttl {
    font-size: 18px;
    text-align: center;
  }
}
.p-course__item-txt {
  font-size: 16px;
  line-height: 1.875;
  font-weight: bold;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .p-course__item-txt {
    font-size: 18px;
  }
}
@media screen and (max-width: 599px) {
  .p-course__item-txt {
    font-size: 13px;
  }
}
@media screen and (min-width: 1024px) {
  .p-course__item-img {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 487px;
    height: 386px;
  }
}
@media screen and (min-width: 1024px) {
  .p-course__item-img img {
    width: 487px;
    height: 386px;
  }
}

.p-course__item:nth-child(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
@media screen and (min-width: 1024px) {
  .p-course__item:nth-child(2n) .p-course__item-body {
    border-radius: 0px 20px 20px 0px;
    padding: 75px 42px 32px;
  }
}

@media screen and (min-width: 1024px) {
  .p-course__item:nth-child(1) .p-course__item-body {
    padding: 88px 52px 32px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1112px) {
  .p-course__item:nth-child(1) .p-course__item-body {
    padding: 56px 12px 32px;
  }
}
@media screen and (min-width: 1113px) and (max-width: 1201px) {
  .p-course__item:nth-child(1) .p-course__item-body {
    padding: 76px 31px 32px;
  }
}
.p-course__item:nth-child(1) .p-course__item-ttl {
  color: #ff70b0;
}

@media screen and (min-width: 1024px) {
  .p-course__item:nth-child(2) .p-course__item-body {
    padding: 92px 42px 32px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1112px) {
  .p-course__item:nth-child(2) .p-course__item-body {
    padding: 56px 12px 32px;
  }
}
@media screen and (min-width: 1113px) and (max-width: 1201px) {
  .p-course__item:nth-child(2) .p-course__item-body {
    padding: 76px 31px 32px;
  }
}
.p-course__item:nth-child(2) .p-course__item-ttl {
  color: #118fd8;
}

@media screen and (min-width: 1024px) {
  .p-course__item:nth-child(3) .p-course__item-body {
    padding: 96px 52px 32px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1112px) {
  .p-course__item:nth-child(3) .p-course__item-body {
    padding: 56px 12px 32px;
  }
}
@media screen and (min-width: 1113px) and (max-width: 1201px) {
  .p-course__item:nth-child(3) .p-course__item-body {
    padding: 76px 31px 32px;
  }
}
.p-course__item:nth-child(3) .p-course__item-ttl {
  color: #ff9b06;
}

@media screen and (min-width: 1024px) {
  .p-course__item:nth-child(4) .p-course__item-body {
    padding: 71px 42px 32px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1112px) {
  .p-course__item:nth-child(4) .p-course__item-body {
    padding: 56px 12px 32px;
  }
}
@media screen and (min-width: 1113px) and (max-width: 1201px) {
  .p-course__item:nth-child(4) .p-course__item-body {
    padding: 76px 31px 32px;
  }
}
.p-course__item:nth-child(4) .p-course__item-ttl {
  margin-bottom: 14px;
  color: #ff70b0;
}

@media screen and (min-width: 1024px) {
  .p-course__item:nth-child(5) .p-course__item-body {
    padding: 99px 52px 32px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1112px) {
  .p-course__item:nth-child(5) .p-course__item-body {
    padding: 56px 12px 32px;
  }
}
@media screen and (min-width: 1113px) and (max-width: 1201px) {
  .p-course__item:nth-child(5) .p-course__item-body {
    padding: 76px 31px 32px;
  }
}
.p-course__item:nth-child(5) .p-course__item-ttl {
  color: #118fd8;
}

.course1,
.course2,
.course3,
.course4,
.course5 {
  position: relative;
}
.course1::before,
.course2::before,
.course3::before,
.course4::before,
.course5::before {
  width: 104px;
  height: 124px;
  content: "";
  position: absolute;
  top: 0%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .course1::before,
  .course2::before,
  .course3::before,
  .course4::before,
  .course5::before {
    width: 61px;
    height: 73px;
  }
}
@media screen and (max-width: 599px) {
  .course1::before,
  .course2::before,
  .course3::before,
  .course4::before,
  .course5::before {
    width: 61px;
    height: 73px;
  }
}

.course1::before {
  background: url(../img/course/course-1.png) no-repeat center center/cover;
  left: 50%;
}
@media screen and (min-width: 1024px) {
  .course1::before {
    left: 8%;
  }
}

.course2::before {
  background: url(../img/course/course-2.png) no-repeat center center/cover;
}
@media screen and (min-width: 1024px) {
  .course2::before {
    right: -2%;
  }
}

.course3::before {
  background: url(../img/course/course-3.png) no-repeat center center/cover;
  left: 50%;
}
@media screen and (min-width: 1024px) {
  .course3::before {
    left: 8%;
  }
}

.course4::before {
  background: url(../img/course/course-4.png) no-repeat center center/cover;
}
@media screen and (min-width: 1024px) {
  .course4::before {
    right: -2%;
  }
}

.course5::before {
  background: url(../img/course/course-5.png) no-repeat center center/cover;
  left: 50%;
}
@media screen and (min-width: 1024px) {
  .course5::before {
    left: 8%;
  }
}

@media screen and (min-width: 1024px) {
  .u-hidden-pc {
    display: none !important;
  }
}

@media screen and (min-width: 600px) and (max-width: 1023px) {
  .u-hidden-tab {
    display: none !important;
  }
}

@media screen and (max-width: 599px) {
  .u-hidden-sp {
    display: none !important;
  }
}

@media screen and (min-width: 780px) {
  .u-hidden-780 {
    display: none !important;
  }
}