@use "../global" as global;
.c-section__ttl {
  width: 100vw;
  position: relative;

  .person1,
  .person2,
  .person3,
  .person4,
  .person5,
  .person6 {
    position: absolute;
    bottom: 11%;
    transform: translate(-50%, 0%);
    width: 14%;

    @include global.mq("sp") {
      width: 25%;
      bottom: 8%;
    }
    @media screen and (max-width: 380px) {
      width: 25%;
    }
  }
  .person1,
  .person3 {
    left: 80%;

    @include global.mq("sp") {
      left: 89%;
    }
  }
  .person2,
  .person6 {
    left: 20%;

    @include global.mq("sp") {
      left: 12%;
    }
  }
  .person3 {
    bottom: -8%;
    width: 176px;
    height: 181px;

    @include global.mq("sp") {
      bottom: 8%;
      width: 27%;
      height: 116%;
    }
  }
  .person5 {
    width: 135px;
    height: 184px;
    left: 85%;
  }
  .person4 {
    left: 15%;

    @include global.mq("sp") {
      left: 10%;
    }
  }
}
