@use "../global" as global;
.c-section__ttl {
  background: url(/img/common/sectiontitle-bg.png) no-repeat center center/cover;
  width: 100vw;
  height: 168px;
  position: relative;

  .person1,
  .person2,
  .person3 {
    position: absolute;
    bottom: 11%;
    transform: translate(-50%, 0%);
    width: 157px;
    height: 192px;
  }
  .person1,
  .person3 {
    left: 80%;
  }
  .person2 {
    left: 20%;
  }
  .person3 {
    bottom: -8%;
    width: 176px;
    height: 181px;
  }
}
