@use "../global" as global;

.l-top {
  color: global.$main-color;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(/assets/img/top/bg.png) no-repeat center center/cover;

  @include global.mq("pc") {
    height: 550px;
  }
  @include global.mq("tab") {
    height: 550px;
  }

  @include global.mq("sp") {
    background: url(/assets/img/top/bg-sp.png) no-repeat center center/cover;
  }
}
.l-top__ttl-img {
  width: 86.48%;
  margin: 0 auto;

  @include global.mq("pc") {
    max-width: 1400px;
    min-width: 900px;
  }
  @include global.mq("tab") {
    min-width: 540px;
  }
  @include global.mq("sp") {
    width: 91.85%;
    padding: 20px 0;
    max-width: 425px;
  }
}
