@use "../global" as global;

.p-course {
  width: 100%;
  margin-top: 42px;
  border-radius: 20px;
  text-align: center;

  @include global.mq("tab") {
    margin-top: 17px;
  }
  @include global.mq("sp") {
    margin-top: 17px;
  }

  &__ttl {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  h3 {
    font-size: 25px;
    display: inline-block;
    padding: 12px 40px;
    background: global.$pink-color;
    border-radius: 27px;
    color: global.$main-color;
    margin-bottom: 32px;

    @include global.mq("tab") {
      font-size: 15px;
      min-width: 290px;
      padding: 12px 0;
      margin-bottom: 17px;
    }
    @include global.mq("sp") {
      font-size: 15px;
      min-width: 290px;
      padding: 12px 0;
      margin-bottom: 17px;
    }
  }

  h4 {
    color: global.$main-color;
    font-size: 40px;
    margin-bottom: 53px;
    position: relative;
    display: inline-block;

    @include global.mq("tab") {
      font-size: 23px;
      margin-bottom: 0;
    }
    @include global.mq("sp") {
      font-size: 23px;
      margin-bottom: 0;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      transform: translate(-50%, -50%);
      top: 9%;
      width: 15px;
      height: 24px;

      @include global.mq("pc") {
        top: 13%;
        width: 25px;
        height: 41px;
      }
    }

    &::before {
      left: -9%;
      transform: rotate(-30deg);
      border-left: 2px solid global.$main-color;

      @include global.mq("pc") {
        border-left: 4px solid global.$main-color;
        left: -11%;
      }
    }
    &::after {
      right: -9%;
      transform: rotate(30deg);
      border-right: 2px solid global.$main-color;

      @include global.mq("pc") {
        border-right: 4px solid global.$main-color;
        right: -11%;
      }
    }
  }

  &__items {
    margin-top: 73px;

    @include global.mq("tab") {
      margin-top: 58px;
    }
    @include global.mq("sp") {
      margin-top: 58px;
    }
  }
}

.p-course__item {
  margin-bottom: 70px;

  @include global.mq("pc") {
    height: 386px;
    margin-bottom: 93px;
    display: flex;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &-body {
    background: global.$main-color;
    border-radius: 20px 0 0 20px;
    text-align: left;
    letter-spacing: 0.05em;
    flex-grow: 1;

    @include global.mq("tab") {
      border-radius: 20px 20px 0 0;
      padding: 55px 23px 32px;
    }
    @include global.mq("sp") {
      border-radius: 20px 20px 0 0;
      padding: 55px 15px 32px;
    }
  }

  &-ttl {
    font-size: 30px;
    color: global.$pink-color;
    font-weight: bold;
    margin-bottom: 27px;

    @include global.mq("tab") {
      font-size: 25px;
      text-align: center;
    }
    @include global.mq("sp") {
      font-size: 18px;
      text-align: center;
    }
  }
  &-txt {
    font-size: 16px;
    line-height: calc(30 / 16);
    font-weight: bold;

    @include global.mq("tab") {
      font-size: 18px;
    }
    @include global.mq("sp") {
      font-size: 13px;
    }
  }
  &-img {
    @include global.mq("pc") {
      flex-shrink: 0;
      width: 487px;
      height: 386px;
    }

    img {
      @include global.mq("pc") {
        width: 487px;
        height: 386px;
      }
    }
  }
}

.p-course__item:nth-child(2n) {
  flex-direction: row-reverse;

  .p-course__item-body {
    @include global.mq("pc") {
      border-radius: 0px 20px 20px 0px;
      padding: 75px 42px 32px;
    }
  }
}
.p-course__item:nth-child(1) {
  .p-course__item-body {
    @include global.mq("pc") {
      padding: 88px 52px 32px;
    }
    @media screen and (min-width: 1024px) and (max-width: 1112px) {
      padding: 56px 12px 32px;
    }
    @media screen and (min-width: 1113px) and (max-width: 1201px) {
      padding: 76px 31px 32px;
    }
  }
  .p-course__item-ttl {
    color: global.$pink-color;
  }
}
.p-course__item:nth-child(2) {
  .p-course__item-body {
    @include global.mq("pc") {
      padding: 92px 42px 32px;
    }

    @media screen and (min-width: 1024px) and (max-width: 1112px) {
      padding: 56px 12px 32px;
    }
    @media screen and (min-width: 1113px) and (max-width: 1201px) {
      padding: 76px 31px 32px;
    }
  }
  .p-course__item-ttl {
    color: global.$blue-color;
  }
}
.p-course__item:nth-child(3) {
  .p-course__item-body {
    @include global.mq("pc") {
      padding: 96px 52px 32px;
    }

    @media screen and (min-width: 1024px) and (max-width: 1112px) {
      padding: 56px 12px 32px;
    }
    @media screen and (min-width: 1113px) and (max-width: 1201px) {
      padding: 76px 31px 32px;
    }
  }
  .p-course__item-ttl {
    color: #ff9b06;
  }
}
.p-course__item:nth-child(4) {
  .p-course__item-body {
    @include global.mq("pc") {
      padding: 71px 42px 32px;
    }
    @media screen and (min-width: 1024px) and (max-width: 1112px) {
      padding: 56px 12px 32px;
    }
    @media screen and (min-width: 1113px) and (max-width: 1201px) {
      padding: 76px 31px 32px;
    }
  }

  .p-course__item-ttl {
    margin-bottom: 14px;
    color: global.$pink-color;
  }
}
.p-course__item:nth-child(5) {
  .p-course__item-body {
    @include global.mq("pc") {
      padding: 99px 52px 32px;
    }
    @media screen and (min-width: 1024px) and (max-width: 1112px) {
      padding: 56px 12px 32px;
    }
    @media screen and (min-width: 1113px) and (max-width: 1201px) {
      padding: 76px 31px 32px;
    }
  }
  .p-course__item-ttl {
    color: global.$blue-color;
  }
}

.course1,
.course2,
.course3,
.course4,
.course5 {
  position: relative;

  &::before {
    width: 104px;
    height: 124px;
    content: "";
    position: absolute;
    top: 0%;
    transform: translate(-50%, -50%);

    @include global.mq("tab") {
      width: 61px;
      height: 73px;
    }
    @include global.mq("sp") {
      width: 61px;
      height: 73px;
    }
  }
}

.course1 {
  &::before {
    background: url(/img/course/course-1.png) no-repeat center center/cover;

    left: 50%;

    @include global.mq("pc") {
      left: 8%;
    }
  }
}
.course2 {
  &::before {
    background: url(/img/course/course-2.png) no-repeat center center/cover;

    @include global.mq("pc") {
      right: -2%;
    }
  }
}
.course3 {
  &::before {
    background: url(/img/course/course-3.png) no-repeat center center/cover;
    left: 50%;

    @include global.mq("pc") {
      left: 8%;
    }
  }
}
.course4 {
  &::before {
    background: url(/img/course/course-4.png) no-repeat center center/cover;

    @include global.mq("pc") {
      right: -2%;
    }
  }
}
.course5 {
  &::before {
    background: url(/img/course/course-5.png) no-repeat center center/cover;
    left: 50%;

    @include global.mq("pc") {
      left: 8%;
    }
  }
}
