@use "../global" as global;

.p-diff {
  width: 100%;
  margin-top: 42px;
  border-radius: 20px;
  text-align: center;

  h3 {
    color: #000;
    font-size: 17px;
    margin-bottom: 30px;
    position: relative;
    display: inline-block;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 6%;
      transform: translate(-50%, -50%);
      width: 15px;
      height: 18px;

      @include global.mq("pc") {
        top: 12%;
      }
    }

    &::before {
      right: -6%;
      transform: rotate(-30deg);
      border-left: 4px solid #000;

      @include global.mq("tab") {
        border-left: 2px solid #000;
        left: -4%;
      }
      @include global.mq("sp") {
        border-left: 2px solid #000;
        left: -4%;
      }
    }
    &::after {
      right: -6%;
      transform: rotate(30deg);
      border-right: 4px solid #000;

      @include global.mq("tab") {
        right: -4%;
        border-right: 2px solid #000;
      }
      @include global.mq("sp") {
        right: -4%;
        border-right: 2px solid #000;
      }
    }
  }

  &__img {
    margin-bottom: 90px;

    @include global.mq("tab") {
      overflow-x: auto;
      padding-bottom: 10px;
      -webkit-overflow-scrolling: touch;
      padding: 25px;
      border-left: 1px solid #000;
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
      border-radius: 25px 0 0 25px;
      margin: 0 0 30px 30px;

      div img {
        max-width: 100%;
        min-width: 750px;
        vertical-align: top;
      }

      &::-webkit-scrollbar {
        height: 23px;
      }
      /*スクロールバー全体の背景*/
      &::-webkit-scrollbar-track {
        background: #fff;
        border-top: 1px solid #000;
      }
      /*スクロールバーの動く部分*/
      &::-webkit-scrollbar-thumb {
        background: #aaa;
        border: none;
      }
      /*スクロールバーの動く部分のホバー（マウスオーバー）*/
      &::-webkit-scrollbar-thumb:hover {
        background: #999;
      }
    }
    @include global.mq("sp") {
      overflow-x: auto;
      padding-bottom: 10px;
      -webkit-overflow-scrolling: touch;
      padding: 25px;
      border-left: 1px solid #000;
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
      border-radius: 25px 0 0 25px;
      margin: 0 0 30px 30px;

      div img {
        max-width: 100%;
        min-width: 750px;
        vertical-align: top;
      }

      &::-webkit-scrollbar {
        height: 23px;
      }
      /*スクロールバー全体の背景*/
      &::-webkit-scrollbar-track {
        background: #fff;
        border-top: 1px solid #000;
      }
      /*スクロールバーの動く部分*/
      &::-webkit-scrollbar-thumb {
        background: #aaa;
        border: none;
      }
      /*スクロールバーの動く部分のホバー（マウスオーバー）*/
      &::-webkit-scrollbar-thumb:hover {
        background: #999;
      }
    }
  }
}

.p-diff__type {
  @include global.mq("pc") {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  margin: 0 30px;
}
.p-diff__university,
.p-diff__vocational {
  border-radius: 20px;

  @include global.mq("pc") {
    margin-right: 42px;
    padding: 35px 0 23px;
    width: calc(50% - 42px * 1 / 2);
  }

  @include global.mq("tab") {
    padding: 19px;
  }
  @include global.mq("sp") {
    padding: 19px;
  }

  p:nth-child(1) {
    display: inline-block;
    text-align: center;
    padding: 17px 0;
    border-radius: 100px;
    font-size: 30px;
    color: #fff;
    line-height: calc(36 / 30);
    letter-spacing: 0.05em;
    margin: 0 0 31px;

    @include global.mq("pc") {
      width: 394px;
    }

    @include global.mq("tab") {
      width: 185px;
      padding: 15px 0;
      font-size: 18px;
    }
    @include global.mq("sp") {
      width: 185px;
      padding: 15px 0;
      font-size: 18px;
    }
  }

  p:nth-child(2) {
    font-size: 30px;
    line-height: calc(36 / 30);
    font-weight: bold;
    margin-bottom: 24px;

    @include global.mq("tab") {
      font-size: 18px;
    }
    @include global.mq("sp") {
      font-size: 18px;
    }
  }
  p:nth-child(3) {
    text-align: left;

    @include global.mq("pc") {
      width: 400px;
      margin: 0 auto;
    }

    @include global.mq("tab") {
      font-size: 13px;
    }
    @include global.mq("sp") {
      font-size: 13px;
    }
  }
}
.p-diff__university {
  p:nth-child(1) {
    background: #118fd8;
  }
  margin-right: 0;
  background: #ebf8ff;
}
.p-diff__vocational {
  p:nth-child(1) {
    background: #ff70b0;
  }
  background: #ffebf4;

  @include global.mq("pc") {
    margin-right: 42px;
  }

  @include global.mq("tab") {
    margin-bottom: 20px;
  }

  @include global.mq("sp") {
    margin-bottom: 20px;
  }
}
