@use "../global" as global;

.p-exam {
  width: 100%;
  margin-top: 42px;
  border-radius: 20px;
  text-align: center;

  @include global.mq("tab") {
    margin-top: 29px;
  }

  @include global.mq("sp") {
    margin-top: 29px;
  }

  &__btn {
    margin-top: 65px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include global.mq("tab") {
      flex-flow: column;
      margin-top: 37px;
    }
    @include global.mq("sp") {
      flex-flow: column;
      margin-top: 37px;
    }

    a {
      display: block;
      width: 400px;
      padding: 35px 0px;
      color: #fff;
      font-weight: bold;
      font-size: 30px;
      letter-spacing: 0.05em;
      text-align: center;
      background-color: #000;
      color: #fff;
      border-radius: 54px;

      @include global.mq("pc") {
        margin-right: 32px;
      }

      @include global.mq("tab") {
        width: 243px;
        font-size: 18px;
        padding: 18px 0;
      }
      @include global.mq("sp") {
        width: 243px;
        font-size: 18px;
        padding: 18px 0;
      }

      &:last-child {
        margin-right: 0;

        @include global.mq("tab") {
          margin-top: 20px;
        }
        @include global.mq("sp") {
          margin-top: 20px;
        }
      }
    }
  }
}
