@use "../global" as global;

.p-fee {
  background: global.$main-color;
  width: 100%;
  margin-top: 42px;
  border-radius: 20px;
  @include global.mq("pc") {
    padding: 60px 50px;
  }

  .p-fee__items {
    @include global.mq("pc") {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    @include global.mq("tab") {
      flex-direction: column;
      padding: 25px;
    }

    @include global.mq("sp") {
      padding: 25px;
    }
  }
}

.p-fee__item-fukidashi {
  position: relative;
  display: inline-block;
  margin: 0 0 25px;
  padding: 10px 0px;
  width: 100%;
  color: #555;
  font-size: 16px;
  background: global.$main-color;
  border: solid 2px #555;
  box-sizing: border-box;

  &::before {
    content: "";
    position: absolute;
    bottom: -26px;
    left: 50%;
    margin-left: -16px;
    border: 13px solid transparent;
    border-top: 13px solid global.$main-color;
    z-index: 2;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    margin-left: -17px;
    border: 14px solid transparent;
    border-top: 14px solid #555;
    z-index: 1;
  }
  p {
    margin: 0;
    padding: 0;
  }
}

.p-fee__item-vocational,
.p-fee__item-university,
.p-fee__item {
  text-align: center;

  @include global.mq("pc") {
    display: flex;
    flex-flow: column;
  }
}

.p-fee__item-vocational,
.p-fee__item-university {
  .p-fee__item-ttl {
    color: global.$main-color;
    font-size: 30px;
    letter-spacing: 0.05em;
    margin-bottom: 82px;

    @include global.mq("tab") {
      margin-bottom: 22px;
      font-size: 23px;
    }
    @include global.mq("sp") {
      margin-bottom: 22px;
      font-size: 18px;
    }
  }

  .p-fee__item-data-wrap {
    & > p {
      font-size: 30px;
      font-weight: bold;

      @include global.mq("tab") {
        font-size: 23px;
      }
      @include global.mq("sp") {
        font-size: 18px;
      }
    }
    &:nth-child(3) {
      @include global.mq("pc") {
        margin: 95px 0 115px;
      }
    }
  }
  .p-fee__item-data {
    font-size: 80px;
    font-weight: bold;
    font-family: global.$ff-kozuka;
    line-height: calc(108 / 90);

    @include global.mq("tab") {
      font-size: 58px;
    }
    @include global.mq("sp") {
      font-size: 58px;
    }

    span {
      font-size: 57px;
      line-height: calc(72 / 60);

      @include global.mq("tab") {
        font-size: 38px;
      }
      @include global.mq("sp") {
        font-size: 38px;
      }
    }
  }
  .p-fee__item-quote {
    font-size: 12px;
    line-height: calc(14 / 12);
    a {
      text-decoration: underline;
    }
  }
}

.p-fee__item-vocational {
  .p-fee__item-data-wrap {
    & > p {
      color: global.$pink-color;
    }

    @include global.mq("tab") {
      margin-bottom: 40px;
    }
    @include global.mq("sp") {
      margin-bottom: 40px;
    }
  }
  .p-fee__item-ttl {
    background: global.$pink-color;
  }
  .p-fee__item-data {
    color: global.$pink-color;
  }
}
.p-fee__item-university {
  .p-fee__item-data-wrap {
    & > p {
      color: #1cadff;
    }

    @include global.mq("tab") {
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 0;
        padding-bottom: 40px;
      }
    }
    @include global.mq("sp") {
      margin-bottom: 40px;

      &:last-child {
        margin-bottom: 0;
        padding-bottom: 40px;
      }
    }
  }

  .p-fee__item-ttl {
    background: global.$blue-color;
  }
  .p-fee__item-data {
    color: #1cadff;
  }
}
.p-fee__item {
  margin: 0 40px;

  .p-fee__item-wrap {
    display: flex;

    @include global.mq("pc") {
      flex-flow: column;
      justify-content: space-between;
    }

    .p-fee__item-circle {
      width: 183px;
      height: 183px;
      border-radius: 50%;
      border: 4px dashed global.$black-color;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      &::before,
      &::after {
        content: "";
        border-right: 4px dashed global.$black-color;
        width: 1px;
        height: 310px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &::before {
        top: 189%;
      }

      &::after {
        top: -90%;
      }

      &:nth-child(2) {
        margin: 20px 0;
      }

      p {
        font-size: 25px;
      }
    }
  }
}
.p-fee__txt {
  background: url(/img/fee/fee-bg.png) no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  padding: 23px 58px;
  border-radius: 0 0 20px 20px;

  @include global.mq("sp") {
    padding: 22px 24px 22px 15px;
  }

  img {
    width: 157px;
    margin-right: 37.5px;

    @include global.mq("tab") {
      width: 84px;
      margin-right: 10px;
    }
    @include global.mq("sp") {
      width: 84px;
      margin-right: 10px;
    }
  }

  p {
    font-size: 20px;
    line-height: calc(37 / 20);
    letter-spacing: 0.05em;
    font-weight: bold;

    @include global.mq("tab") {
      line-height: calc(18 / 13);
      font-size: 13px;
    }
    @include global.mq("sp") {
      line-height: calc(18 / 13);
      font-size: 13px;
    }
  }
}
